<br />
<br />
<br />
@{
    ViewBag.Title = "ConferenceRequestSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>We have received your conference creation request. Our admins will review it soon.</h2>

